<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1 style="background-color: blue; color:ghostwhite">Display_student Data</h1>

        <table border="=3px">
            <tr>
                <th style="background-color:brown; padding:7px;">student_id</th>
                <th style="background-color:brown; padding:7px;">student name</th>
                <th style="background-color:brown; padding:7px;">student email</th>
            </tr>

            
            
        {% for so in SQS %}
            <tr>
                <td style="background-color:palevioletred; padding:8px;">{{so.sid}}</td>
                <td style="background-color:palevioletred; padding:8px;">{{so.name}}</td>
                <td style="background-color:palevioletred; padding:8px;">{{so.email}}</td>
            </tr>

        {% endfor %}
        </table>
    </center>
</body>
</html>